@model int
@{
    ViewData["Title"] = "404 Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error : </h4>
    <hr />
    <h5>
        Employee with Id = @Model cannot be found
    </h5>
</div>